{%extends 'base.html' %}

{% block title %} Добавить текст {% endblock title %}

{%block body%}
    <div class = "d-flex flex-column align-items-center text-white text-center ">
        <form method="post" action="" enctype="multipart/form-data">
            {%csrf_token%}
            <legend>Новый текст</legend>
            {{form.as_p}}
            <button class = "btn btn-dark border border-white p-3" type="submit">Отправить</button>
            
        </form>
        <a href = "{% url 'home' %}" ><button class = "btn btn-dark border border-white p-3 m-3" >Назад</button></a>  
        {% if last_text%}
            <p>Ваш последний текст:</p>
            <p>{{last_text}}</p>
        {%endif%}
    </div>
{%endblock body%}
