ul {
    list-style-type: none;
}
/* Для вебкит-браузеров (Chrome, Safari, Edge) */
html{
    overflow: auto; /* или overflow: scroll; */
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

html ::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар в вебкит-браузерах */
}

.hover-text-warning:hover {
    color: #882020; 
    cursor: pointer; 
}
