{%extends 'base.html' %}

{% block title %} Личный кабинет {% endblock title %}

{%block body%}
    {%if not user%}
        <div class="text-center ">
            <p>Привет, незарегестированный пользователь</p>
            <div class="btn-group" role="group" aria-label="Basic button group">
                <a href = "{% url 'login' %}"> <button type= "button" class="btn btn-dark">Вход</button></a>
                <a href = "{% url 'signup' %}"><button type="button" class="btn btn-dark">Регистрация</button></a>
            </div>
        </div>
    {% else %}
        <div class="text-center ">
            <p >Привет, {{user}}</p>
            <div  class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a href = "{%url 'add'%}"><button class="btn btn-dark">Добавить текст</button></a>
                <a href = "{%url 'list'%}"><button class="btn btn-dark">Список текстов</button></a>
                <form action="" method="GET"><button name="logout" value="value" type= "submit" class="btn btn-dark">Выход</button></form>
            </div>
        </div>
    {% endif %}
{%endblock body%}
