{%extends 'base.html' %}

{% block title %} Вход {% endblock title %}

{%block body%}
    <div class = "d-flex flex-column align-items-center text-white text-center ">
        <form method="post" action="" >
            {%csrf_token%}
            
            <legend>Вход</legend>
            {{form.as_p}}
            

            <button class = "btn btn-dark border border-white p-3" type="submit">Вход</button>
            
        </form>
        <a href = "{% url 'home' %}" ><button class = "btn btn-dark border border-white p-3 m-3" >Назад</button></a>  
        
    </div>
{%endblock body%}
